YoutubeAutomation/n8n-yt-automation-v1.json
{
  "name": "YouTubeAutomation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1712,
        400
      ],
      "id": "b84ed031-3eff-4eac-9619-507fa1477a76",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FYFz5g_ocgJvlDSGY-ZNs6kODXLutv-vcpT1DS-A5og",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "1976487996",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "=Error"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        400
      ],
      "id": "dfef059e-a3b1-4dc0-bb9a-6276e7c1e89c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "QPARHYPKwvvEVzG3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.Topics }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are  a viral YouTube shorts script writer in Hindi."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Your goal is to write a script about the topic in Hindi.  STRICT SCRIPT RULES:  THE HOOK: Start with a \"Pattern Interrupt.\" Use a sharp, shocking statement in Hindi that makes the viewer stop scrolling.  HUMAN SPEECH FLOW: Do not use formal Hindi. Use \"Hinglish\" and conversational fillers so the AI voice adopts a natural, mysterious rhythm.  THE BLUE OCEAN FACT: Share a fact that sounds like a conspiracy or a deep secret. Avoid \"did you know\" trivia.  THE SEAMLESS LOOP: The final sentence must end on a cliffhanger that connects perfectly to the first word of the hook.  LENGTH: Maximum 60 words. VOICE ADAPTATION: Write short, punchy sentences. Long sentences cause the AI to have weird pauses. Avoid pauses.  OUTPUT FORMAT: Provide ONLY the Hindi script text. No headers or stage directions."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1216,
        656
      ],
      "id": "64cea968-d580-4481-837f-ddbeb494445c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1216,
        848
      ],
      "id": "b87c143f-19b4-480f-a8d3-fb39caa99211",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fuK7fsnKXOpGhWDq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{ $node[\"Get row(s) in sheet\"].json[\"Pexel_Keywords\"] }}&orientation=portrait&per_page=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        80
      ],
      "id": "d5fb576d-28b1-44ec-83fb-f0755b751355",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6aMNLuMIISgSARZX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "voice": "hi-IN-MadhurNeural",
        "additionalOptions": {
          "pitch": "-5Hz",
          "rate": "50%",
          "volume": "50%"
        }
      },
      "type": "@andresaya/n8n-nodes-edgetts.edgeTts",
      "typeVersion": 1,
      "position": [
        -848,
        656
      ],
      "id": "33f0f21d-a361-4727-9d63-c97da3e97d73",
      "name": "Convert text to speech"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "mixAudio",
        "mixVideoSourceType": "binary",
        "mixVideoSourceBinary": "video_file",
        "mixAudioSourceType": "=binary",
        "mixAudioSourceBinary": "audio_file",
        "outputFieldName": "voice_video_file"
      },
      "type": "@sonixnguyen/n8n-nodes-mediafx.mediaFX",
      "typeVersion": 1,
      "position": [
        288,
        288
      ],
      "id": "27455b8e-7e11-4935-85ef-633e28398f47",
      "name": "MixAudio audio"
    },
    {
      "parameters": {
        "url": "={{ $json.video_files[0].link }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video_file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        80
      ],
      "id": "29f72dca-aedd-4a1a-a502-ef66ba9ed9ea",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6aMNLuMIISgSARZX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        368
      ],
      "id": "3a00c054-2d7e-4975-8d1c-cfd6e32b7e01",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio",
        "binaryPropertyName": "audio_file",
        "options": {
          "fileName": "voiceover.mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -640,
        656
      ],
      "id": "bee59454-c60e-49ec-b36b-84a58160e22b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -624,
        80
      ],
      "id": "2dc69d11-7af9-4cb6-9b1a-dcb54c29a57f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "videos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1072,
        80
      ],
      "id": "cbc02405-958d-474d-bf17-0727592fc2e3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "videoSources": {
          "sources": [
            {
              "sourceType": "binary"
            },
            {
              "sourceType": "binary",
              "binaryProperty": "data_1"
            },
            {
              "sourceType": "binary",
              "binaryProperty": "data_2"
            },
            {
              "sourceType": "binary",
              "binaryProperty": "data_3"
            },
            {
              "sourceType": "binary",
              "binaryProperty": "data_4"
            }
          ]
        },
        "outputFieldName": "video_file"
      },
      "type": "@sonixnguyen/n8n-nodes-mediafx.mediaFX",
      "typeVersion": 1,
      "position": [
        -464,
        80
      ],
      "id": "30c1fd2c-e4e3-4f61-a742-d27a7785de47",
      "name": "Merge video"
    },
    {
      "parameters": {
        "operation": "trim",
        "source": {
          "source": {
            "sourceType": "binary",
            "binaryProperty": "video_file"
          }
        },
        "endTime": 4
      },
      "type": "@sonixnguyen/n8n-nodes-mediafx.mediaFX",
      "typeVersion": 1,
      "position": [
        -784,
        80
      ],
      "id": "d37f3cf6-66e5-416f-bb91-02b7a98b4ce6",
      "name": "Trim video"
    },
    {
      "parameters": {
        "url": "https://assets.mixkit.co/music/127/127.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        480
      ],
      "id": "c653f422-2e62-408c-b16c-7a3ad5574220",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "mixAudio",
        "mixVideoSourceType": "binary",
        "mixVideoSourceBinary": "voice_video_file",
        "mixAudioSourceType": "=binary",
        "audioVolume": 0.05
      },
      "type": "@sonixnguyen/n8n-nodes-mediafx.mediaFX",
      "typeVersion": 1,
      "position": [
        816,
        384
      ],
      "id": "b95ec4b2-6927-413e-bac4-53a9492f2cbb",
      "name": "MixAudio audio1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        384
      ],
      "id": "3253db00-897e-4459-9153-63d499e617bb",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FYFz5g_ocgJvlDSGY-ZNs6kODXLutv-vcpT1DS-A5og",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "1976487996",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Topics": "={{ $('Get row(s) in sheet').item.json.Topics }}",
            "Pexel_Keywords": "={{ $('Get row(s) in sheet').item.json.Pexel_Keywords }}",
            "Status": "Done",
            "YouTube URL": "=https://m.youtube.com/shorts/{{ $json.uploadId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pexel_Keywords",
              "displayName": "Pexel_Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube URL",
              "displayName": "YouTube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        256
      ],
      "id": "3b56878b-c322-469d-9c52-a72bc29981e1",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "QPARHYPKwvvEVzG3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Get row(s) in sheet').item.json.Topics }} #shorts #Mystery",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Get row(s) in sheet').item.json.Topics }}  #{{ $('Get row(s) in sheet').item.json.Pexel_Keywords }} #shortvideo #viral"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1056,
        384
      ],
      "id": "4df4f465-f0fa-42b2-a85f-a1f156fb20d4",
      "name": "Upload a video",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Bc6VClsh0o2yBV5d",
          "name": "YouTube account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "vivekxarma0709@gmail.com",
        "subject": "🚀 Success: New SnappyFast Short Uploaded!",
        "emailType": "text",
        "message": "=Hey Vivek,\n\nyour video '{{ $json.Topics }}' has been uploaded successfully!  \nWatch it here: https://m.youtube.com/shorts/{{ $('Upload a video').item.json.uploadId }}\"",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        256
      ],
      "id": "7aa1aac7-86cd-4fbf-935a-4c434a6fb422",
      "name": "Send a message",
      "webhookId": "e6dd11be-4746-47c0-9aea-1dd27e2268fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "IzbU8yInwp9cNerD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "40d6cd05-864f-409e-a12c-693dfe306fd5",
              "leftValue": "={{ $json.uploadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        384
      ],
      "id": "06e0cac7-eec8-479a-ab0d-0172b8c2a296",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FYFz5g_ocgJvlDSGY-ZNs6kODXLutv-vcpT1DS-A5og",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "1976487996",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Topics": "={{ $('Get row(s) in sheet').item.json.Topics }}",
            "Pexel_Keywords": "={{ $('Get row(s) in sheet').item.json.Pexel_Keywords }}",
            "Status": "Error",
            "YouTube URL": "="
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pexel_Keywords",
              "displayName": "Pexel_Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube URL",
              "displayName": "YouTube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        496
      ],
      "id": "4fb01683-73db-45d2-ae1f-f7f4350d2261",
      "name": "Update row in sheet1",
      "credentials": {
        "googleApi": {
          "id": "QPARHYPKwvvEVzG3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vivekxarma0709@gmail.com",
        "subject": " Failed: New SnappyFast Short Not Uploaded!",
        "emailType": "text",
        "message": "=Hey Vivek,\n\nyour video '{{ $json.Topics }}' has been uploaded unsuccessfully!  \nPlease check the error.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        496
      ],
      "id": "222f42e0-ad6a-4cf1-85b3-5a67d137caa9",
      "name": "Send a message1",
      "webhookId": "e6dd11be-4746-47c0-9aea-1dd27e2268fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "IzbU8yInwp9cNerD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11,16,21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1712,
        640
      ],
      "id": "e153a8ee-b067-4f2b-bcc0-f91f11b81817",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "When publish use schedule trigger node.\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        128
      ],
      "typeVersion": 1,
      "id": "792db74a-4245-42a9-9081-4e85b90f3707",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MixAudio audio": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Trim video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MixAudio audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MixAudio audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MixAudio audio1": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d784ab5-528a-47db-9393-50bf0412aa97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7101f55f344d6af4dce837ab6eb612dcb194431942cc429fc0c75717311d22b"
  },
  "id": "HwyhxBIKgpnG106ySP1H2",
  "tags": []
}